.container {
    display: flex;
    width: 100%;
}

/* style for the output div */
#output {
    margin-top: 20px;
    border: 1px solid black;
    width: 25%;
    height: 1200px;
}

#iframeEditor {
    margin-top: 20px;
    border: 1px solid black;
    width: 70%;
    height: 1200px;
    float: right;
    overflow: auto;
}