<html>
    <head>
        <!-- <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1595.0.min.js"></script> -->
    </head>
    <style src="style.css"></style>
    
    <script>
        document.cookie = "name=value; domain=oogw.dxy.com; path=/";
        // header 
        // with header in request
        

        var header = new Headers();
        var allCookies = document.cookie;
        var cookies = allCookies.split(';');
        
        
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('openBiyue').addEventListener('click', function() {
                xToken = 'd0289d8216ecf3239fce43afb06101c4';
                console.log('openBiyue');
                var url = `/convert?file_id=3a769c4c-d032-43bf-97a9-90258819f0ab`;
                // open link in iframe in div with id "iframeEditor"
                fetch(url, {
                    method: 'GET',                    
                    credentials: "include",
                    headers: {
                        'X-Token': `${xToken}`,
                        "Origin": "oogw.dcx.com",
                    },
                    redirect: 'follow',
                }).then(response => {
                    for (const pair of response.headers.entries()) {
                          console.log(pair[0]+ ': '+ pair[1]);
                    }
                    console.log(response.headers.get("Set-Cookie"))     
                    console.log(document.cookie)                   
                })
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.error('Error:', error)
                })                ;
            });            
        
        });
    </script>
    
    <body>
        <h1>Test</h1>
        
        
        <a href="http://oogw.dcx.com/convert?file_id=3a769c4c-d032-43bf-97a9-90258819f0ab&xtoken=fc2f82ee6864fd6bef3e8fcf363c3810">start test222</a>
        <br/>
        <a href="/convert?file_id=3a769c4c-d032-43bf-97a9-90258819f0ab&xtoken=2a57ca2df93847fd130a0882a39fde3d">start local test</a>
        <br/>
        <button id="openBiyue">start test</button>
        <br/>
        <div class="container">
            
            <div id="output">
                
            </div>
            
            <div id="iframeEditor"></div>
        </div>
    </body>
</html>